@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  outline: none;
}

.btn__red {
  padding: 2rem 4rem;
  letter-spacing: 0.16rem;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: #f2f7ff;
  background-color: #ab0534;
}

.btn__red:hover {
  -webkit-transition: .5s;
  transition: .5s;
  color: #deeaff;
  background-color: #92042c;
}

.btn__red:focus {
  color: #e3eeff;
  background-color: #97042e;
}

.btn__white {
  width: 168px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 5rem;
}

.btn__white:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #dbdbdb;
}

.categories__line {
  width: 16rem;
  height: 0.1rem;
  background-color: #020202;
}

.categories__block {
  cursor: pointer;
  width: 14.4rem;
  min-height: 1.1rem;
  padding: 3rem 0;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #808080;
}

.categories__block:hover {
  background-color: #ff0048;
  border: none;
}

.categories__block:hover .categories-text {
  color: #f4f8ff;
}

.price {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.92px;
  color: #ab0534;
}

header {
  position: relative;
  z-index: 2;
  background-color: #ab0534;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
}

header .container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

header h1 {
  font-family: Roboto;
  letter-spacing: 1.2px;
  font-size: 8rem;
  font-weight: 700;
  color: #f2f7ff;
}

header small {
  font-family: Roboto;
  letter-spacing: 1.2px;
  margin-left: 0.1rem;
  font-size: 7rem;
  font-weight: 300;
  color: #f2f7ff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans';
}

.navbar__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__profile-buy {
  margin-right: 10rem;
}

.navbar__profile-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__links__item {
  font-size: 1.5rem;
  margin-left: 5rem;
  text-decoration: none;
}

.navbar__links__item:first-child {
  margin-left: 0;
}

.login {
  font-size: 1.5rem;
}

.user__img {
  margin-right: 0.5rem;
  height: 1.5rem;
}

.login__img {
  margin-left: 3rem;
  margin-right: 0.5rem;
  height: 1.3rem;
}

.search {
  cursor: pointer;
  height: 1.5rem;
  margin-right: 5rem;
}

.basket {
  cursor: pointer;
  height: 1.5rem;
}

.main {
  position: relative;
  z-index: 1;
  background-color: #ab0534;
}

.main .container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__header__text {
  margin-top: 9rem;
  font-size: 6rem;
  font-weight: 700;
  color: #f2f7ff;
}

.main__text {
  margin-top: 3.6rem;
  margin-bottom: 4.7rem;
  font-size: 2.4rem;
  color: #f2f7ff;
}

.main .btn__red {
  margin-bottom: 6.3rem;
}

.main-img {
  height: 40%;
  width: 40%;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10rem;
  background-color: #f4f8ff;
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.categories__header {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  text-align: center;
}

.categories__line {
  margin: 0 auto;
}

.categories__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(14.28571%);
  margin-top: 10rem;
  margin-right: 0.5rem;
}

.categories__block__content {
  margin: 0 auto;
  text-align: center;
}

.categories-text {
  font-size: 1.8rem;
  color: #333333;
}

.categories__img {
  max-height: 2rem;
}

.categories__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f4f8ff;
}

.top .container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.top__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 2rem;
}

.top__blocks {
  display: inline-block;
  margin-top: 10rem;
  margin-right: 4.5rem;
  width: 36rem;
}

.head__header {
  font-size: 3rem;
  margin-top: 20rem;
  margin-bottom: 2rem;
}

.head__text {
  font-size: 1.4rem;
  color: #666666;
  line-height: 2.38rem;
}

.btn__white {
  float: right;
  margin-top: -5rem;
}

.name {
  margin: 3rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
}

.name__description {
  margin: 2rem auto;
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 0.56px;
  line-height: 24px;
  color: #666666;
}

.woman__img {
  width: 36rem;
  height: 18.1rem;
}

.popular {
  background-color: #f2f7ff;
}

.popular .container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.block__section {
  cursor: pointer;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block__discover {
  position: relative;
  width: 37.6rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.bg__img {
  width: 100%;
}

.discover__text {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 24px;
  font-weight: 700;
  color: #f2f7ff;
}

.text__violet {
  position: absolute;
  left: 38%;
}

.text__blue {
  position: absolute;
  left: 23%;
}

.advantages {
  background-color: #f2f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages .container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.review__head {
  margin-bottom: 11rem;
}

.review__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review__testimonial {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.review__review {
  width: 43rem;
  margin-bottom: 5rem;
}

.review__review-text {
  padding: 5rem 0 0 3.5rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #4d4d4d;
}

.review__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__author-img {
  margin-right: 1.5rem;
}

.review__author-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__author-name {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.review__author-rank {
  font-size: 1.3rem;
  color: #666666;
}

.review__img {
  position: relative;
}

.review__img-video {
  border: 1px solid rgba(113, 127, 134, 0.15);
  border-radius: 10px;
}

.play {
  position: absolute;
  top: 11.2rem;
  left: 23.1rem;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.trust img {
  cursor: pointer;
}

.trust__head {
  margin-top: 21rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.img__browser {
  max-width: 20rem;
  height: 100%;
  opacity: 0.5;
}

.img__browser:hover {
  opacity: 1;
}

.trust__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__head {
  margin-bottom: 10.6rem;
}

.blog__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blog__blocks {
  display: block;
  width: 360px;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  color: #666666;
  font-size: 1.2rem;
}

.blog__info img {
  height: 1.6rem;
  margin-right: 0.5rem;
}

.blog__info-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__info-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8.7rem;
}

.blog__points .point {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10rem;
  border: 0.2rem solid #9999;
  background-color: #f2f7ff;
  margin-right: 0.5rem;
}

.blog__points .point:hover {
  background-color: #4d4d4d;
  border: none;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.name__description {
  line-height: 2.4rem;
}

.more {
  font-size: 16px;
  font-weight: 700;
  color: #f44336;
  margin-right: 0.8rem;
}

.read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 500;
  color: #666666;
}

.rating__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rating__likes img {
  cursor: pointer;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.rating__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2.4rem;
}

.rating__comments img {
  cursor: pointer;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.become__content {
  padding-bottom: 6.5rem;
  background: url("../img/become__background.png") 0 0 no-repeat;
}

.become__title {
  text-align: center;
  padding: 9rem 0rem 6rem;
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 3.6px;
}

.send {
  text-align: center;
}

.sending-form {
  position: relative;
  display: inline-block;
}

.sending {
  width: 68.3rem;
  height: 6.7rem;
  padding-left: 6.5rem;
  background-color: #f2f7ff;
  border: none;
  outline: none;
  border-radius: 10rem;
}

.sending__btn {
  position: absolute;
  display: inline-block;
  width: 20rem;
  top: 0.6rem;
  right: 5.1rem;
}

.footer {
  padding: 10rem;
  background-color: #292662;
  line-height: 2.6rem;
}

.footer .container {
  max-width: 160rem;
  margin: 0 auto;
  width: 98%;
}

.footer__head {
  font-size: 1.6rem;
  font-weight: 700;
  text-align-last: left;
  color: #f2f7ff;
}

.footer__head-text {
  font-size: 1.4rem;
  color: #f4f8ff;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__line {
  height: 0.2rem;
  background-color: #666666;
  opacity: 0.2;
  margin: 5rem 0 2rem;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-data {
  display: inline-block;
}

.contacts {
  margin-top: 3.8rem;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone p {
  font-size: 1.8rem;
}

.contacts__phone h5 {
  margin-right: 0.5rem;
}

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__email h5 {
  margin-right: 0.5rem;
}

.contacts__web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__web h5 {
  margin-right: 0.5rem;
}

.support__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 3.2rem;
}

@media screen and (max-width: 992px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__links a {
    margin: 0 5rem;
  }
  .navbar__profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .block__discover-blue {
    margin-top: 10rem;
  }
  .review__img {
    margin-left: 45rem;
    margin-top: -25rem;
  }
  .blog__blocks-3 {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 736px) {
  .main__header__text {
    text-align: center;
  }
  .top__head {
    margin-bottom: 10rem;
  }
  .top__blocks {
    margin: 5rem auto;
  }
  .block__discover {
    margin: 5rem auto;
  }
  .review__img {
    margin: 7rem auto 0;
  }
  .trust__head {
    text-align: center;
  }
  .blog__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__blocks {
    margin: 5rem auto 0;
  }
  .img__browser-2 {
    display: none;
  }
  .img__browser-3 {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  a.navbar__links__item {
    margin: 0 auto;
  }
  .main__text {
    text-align: center;
  }
  .main-img {
    display: none;
  }
  .categories__content {
    margin-top: 5rem;
  }
  .categories__block {
    width: calc(25%);
    margin: 1rem auto;
  }
  .btn__white {
    float: none;
    margin-top: 5rem;
    display: block;
  }
  .review__review-text {
    padding: 0;
  }
  .review__img {
    display: none;
  }
  .img__browser-arrow {
    display: none;
  }
  .sending-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sending {
    width: 34rem;
  }
  .sending__btn {
    width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin-right: 15rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar__profile-buy {
    margin-right: 3rem;
  }
  .categories__block {
    width: calc(100%);
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 1rem auto;
  }
  .categories-text {
    font-size: 1rem;
  }
  .top__blocks {
    max-width: 31rem;
  }
  .top__blocks img {
    width: 90%;
  }
  .img-cent-1 img {
    width: 9.7rem;
    height: 7.5rem;
  }
  .img-cent-2 img {
    width: 7.8rem;
    height: 7.7rem;
  }
  .img-cent-3 img {
    width: 8.6rem;
    height: 7.6rem;
  }
  .img-cent-4 img {
    width: 3.9rem;
    height: 7.5rem;
  }
  .img-cent-5 img {
    width: 9.1rem;
    height: 7.6rem;
  }
  .img-cent-6 img {
    width: 15.8rem;
    height: 7.5rem;
  }
  .blog__blocks {
    width: 31rem;
  }
  .sending-form {
    margin-top: -5rem;
  }
  .sending__btn {
    margin-left: 15rem;
  }
  .img__browser-1 {
    height: 5rem;
  }
  .trust__img {
    margin-top: 5rem;
    display: block;
    text-align: center;
    height: 10rem;
  }
  .footer {
    padding: 5rem;
  }
  .support {
    margin-top: 1rem;
  }
  .footer__line {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */