body {
    font-family: Arial, sans-serif;
}



h2 {
    color: #1a2e43;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

/* header */
nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 48px;
    font-size: 16px;
    text-transform: uppercase;
}
/* header */


/* main */
.main {
    width: 100%;
    height: calc(100% - 60px);   
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat ,url(../img/bg.jpg) center/cover no-repeat;
    margin-bottom: 108px;
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container span {
    display: block;
    margin-top: 40px;
    font-size: 25px;
    color: #79818d;
}
.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 58px 14px 0 14px;
}
/* main */


/* about */

.about {
    padding-bottom: 111px;
}


.about h2 {
    margin: 108px 0 94px;
}

.about_icon {
    margin: 0 849px;
}

.about_description {
    width: 730px;
    color: #38475a;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 34px;
}

.about_description_1 {
    margin-top: 25px;
    margin-bottom: 40px;
}

.download {
    display: flex;
    margin: 0 auto;
    padding: 10px 12px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
}
/* about */


/* advantages */

.advantages {
    padding: 30px 0 80px;
    background: url(../img/bg_advantages.png) center/cover no-repeat
}

.advantages h2 {
    margin: 107px 0 42px;
}

.advantages_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages_blocks_items {
    text-align: center;
    margin: 0 auto;
}

.advantages_blocks img {
    width: 20%;
    height: 20%;
}

.title_item {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #e97700;
    font-size: 16px;
    font-weight: 700;
}

.description_item {
    width: 210px;
    color: #4c596a;
}

.cases {
    margin-bottom: 200px;
}

.cases h2 {
    margin-top: 110px;
}
.cases_description {
    margin: 36px 0;
    display: block;
    text-align: center;
    color: #3f495a;
}

.cases_img {
    max-width: 80%;
    max-height: 100%;
    background: url(../img/case.png) 90% 100%/auto 85% no-repeat
}

.info_site {
    margin-left: 270px;
}

.info_site h4 {
    margin-bottom: 14px;
    font-size: 20px;
    color: #384354;
    font-weight: 700;
}

.info_site_description {
    margin-bottom: 15px;
    color: #3f495a;
}

.visit {
    padding: 15px 42px;
    background-color: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.project {
    margin-top: -130px;
    margin-right: 200px;
    float: right;
}

.project_description {
    max-width: 630px;
}
/* cases */

/* price */

.price h3 {
    margin-bottom: 14px;
    font-size: 30px;
    color: #1c2534;
    font-weight: 700;
    text-align: center;
}

.price_wrap {
    display: flex;
    flex-direction: column;
    
}

.price_title {
    text-align: left;
    color: #1c2534;
    font-size: 20px;
    font-weight: 700;
}


.price_description {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #1c2534;
}




/* price */



/* advantages */

.stat {
    padding: 30px 0 80px;
    background: url(../img/bg_stat.png) center/cover no-repeat
}

.stat h2 {
    margin: 107px 0 42px;
}

.stat_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat_blocks_items {
    text-align: center;
    margin: 0 auto;
}

.stat_blocks img {
    width: 50%;
    height: 50%;
}

/* stat */

/* reviews */

.reviews h2 {
    margin: 120px 0 100px;
}

.reviews_slider {
    text-align: center;
}

.reviews_slider_text {
    margin: 34px 0;
}

.reviews_slider_description {
    margin-bottom: 149px;
}

/* reviews */


/* contacts */

.contacts {
    padding-top: 105px;
    background: url(../img/bgrev.png) center/cover no-repeat;
}

.contacts h2 {
    color: #fff;
    margin-bottom: 69px;
}

.contacts_description {
    display: block;
    text-align: center;
    color: #e9e9ea;
    margin-bottom: 48px;
}


.contacts_items {
    display: flex;
    align-items: center;
    
}

.contacts_items_map {
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.contacts_items_map img {
    width: 20px;
    height: 25px;
}

.contacts_items_mail {
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.contacts_items_mail a {
    color: #fff;
}

.contacts_items_mail img {
    width: 20px;
    height: 25px;
}

.contacts_items_phone {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts_items_phone a {
    color: #fff;
}

.contacts_items_phone img {
    width: 20px;
    height: 25px;
}

/* contacts */

/* resp */

.resp {
    text-align: center;
}

.resp h5 {
    margin: 57px 0 44px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.resp input {
    padding: 11px 311px 11px 12px;
    
}

.resp textarea {
    margin-top: 14px;
    padding: 9px 608px 71px 12px;
}

.send {
    display: block;
    margin: 0 auto;
    padding: 17px 20px 12px;
    margin-top: 20px;
    background: transparent;
    color: #fff;
    border: #fff 3px solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* resp */

/* map */
.mapa {
    max-width: 1920px;
    max-height: 350px;

}
/* map */

/* footer */
footer {
    padding: 48px 0;
    background-color: #354051;
    text-align: center;
    color: #fff;
}
/* footer */